body {
    margin: 0;
    padding: 0;
    background-color: #eee;
}

/* Header & Nav */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#sticky {
    position: -webkit-sticky;
	position: sticky;
	top: 0;
}

ul {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    list-style-type: none;
    background-color: #ccc;
}

li {
    float: left;
    font-size: 20pt;
    font-family: 'Montserrat', sans-serif;
}


li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #0d3c67;
    color: #CC1B1B;
}

/* End Header & Nav */

/* Main & Store Hero Images */

.hero {
    background: url(Hero.png);
    height: 635px;
    background-size: auto;
    border-bottom: 2px solid #4c4c4c;
    box-shadow: 3px 3px 4px #4c4c4c;
}

.store {
    background: url(Store.png);
    height: 600px;
    background-size: auto;
    border-bottom: 2px solid #4c4c4c;
    box-shadow: 3px 3px 4px #4c4c4c;
}

/* End Main & Store Hero Images */

.blurb { /* Text Boxes */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid #4c4c4c;
    box-shadow: 3px 3px 4px #4c4c4c;
    padding: 0px 50px;
}

/* Text CSS */

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20pt;
    color: #0d3c67;
    margin: 15px 0px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16pt;
    color: #0d3c67;
    margin: 15px 0px;
}

h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 14pt;
    color: #CC1B1B;
    margin: 0px;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 14pt;
    margin: 0px 0px 20px 0px;
}

/* End Text CSS */

h2 span { /* Creates top cushion for Hash Links */
    margin-top: -70px;
    padding-bottom: 45px;
    display: block;
}

/* Storefront CSS */

.storefronttop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 25px;
}

.storefrontrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 33%;
    height: 600px;
    background-color: #ccc;
}

#c1 {
    float: left;
    border-right: 5px solid #eee;
    border-bottom: 5px solid #eee;
}

#c2 {
    border-right: 5px solid #eee;
    border-bottom: 5px solid #eee;
}

#c3 {
    float: right;
    border-bottom: 5px solid #eee;
}

/* End Storefront CSS */

/* Button CSS */

.addtocart {
    cursor: pointer;
    background-color: #0d3c67;
    color: #CC1B1B;
    width: 110px;
    text-align: center;
    font-size:16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 14px 4px;
    margin: 15px auto;
}

.addtocart:hover {
    background-color: #CC1B1B;
    color: #0d3c67;
}

/* End Button CSS */

/* Contact Form CSS */

#info {
  width: 100%;
  padding: 12px 20px;
  margin: 12px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
}

input[type=submit] {
  width: 10%;
  background-color: #0d3c67;
  color: #CC1B1B;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14pt;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

input[type=submit]:hover {
    background-color: #CC1B1B;
    color: #0d3c67;
}

.contactform {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 50px;
}

label {
    margin: 10px;
    font-family: 'Raleway', sans-serif;
}

/* End Contact Form CSS */

/* Footer CSS */

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    height: 85px;
    background-color: #ccc;
}

.footerleft {
    display: flex;
    justify-content: left;
    padding-left: 30px;
}

.footerright {
    display: flex;
    justify-content: right;
    padding-right: 30px;
}

.footermiddle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#left {
    float: left;
    width: 25%;
}

#right {
    float: right;
    width: 25%;
}

#middle {
    width: 50%;
}

#footer {
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
    padding-top: 20px;
}

.fa {
  padding: 20px;
  margin-left: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
    background-color: purple;
    color: white;
}

/* End Footer CSS */